.btn {
  display: inline-block;
  padding: 26px 0;
  line-height: 1;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 18px;
  width: 100%;
  margin-bottom: 20px;

  // default btn
  &.btnDefault {
    color: #ffffff;
    border: 1px solid #1f2739;
    background-color: #1f2739;
    &:hover {
      border: 1px solid #2c3446;
      background-color: #2c3446;
    }
  }

  // primary btn
  &.btnPrimary {
    color: #ffffff;
    border: 1px solid #494ce8;
    background-color: #494ce8;
  }

  // danger btn
  &.btnDanger {
    color: #ffffff;
    border: 1px solid hsl(0, 48%, 48%);
    background-color: #b53f3f;
  }

  &.btnWhite {
    color: #333333;
    border: 1px solid #ffffff;
    background-color: #ffffff;
  }
}
